<section class="section py-0">
    <div class="container z-2">
       <div class="row position-relative justify-content-center align-items-cente">
          <div class="col-12">
             <!-- Card -->
             <div class="card border-light px-4 py-1">
                <div class="card-body text-center text-md-left">
                    <div data-aos="fade" data-aos-duration="1000" class="row align-items-center">
                        <div class="col-md-6">
                            <h2 class="h1 mb-3">Breid jij ons team uit?</h2>
                            <p class="lead mb-4">
                                Opzoek naar een nieuwe uitdaging? Kom op gesprek en sluit je aan bij ons team.
                            </p>
                            <a href="@@path/html/pages/vacatures.html" class="btn btn-primary">
                                <span class="mr-1">
                                    <span class="fas fa-file-invoice"></span>
                                </span>
                                Vacatures
                            </a>
                        </div>
                        <div class="col-12 col-md-6 mt-5 mt-md-0 text-md-right">
                            <img src="../../assets/img/illustrations/hiring.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
          </div>
       </div>
    </div>
</section>